@model StaticPagedList<EIS.Inventory.Core.ViewModels.CompanyListDto>

<table class="table table-responsive table-hover table-striped table-altrow" id="tblCompanies">
    <thead>
        <tr>
            <th>Company Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Website</th>
            <th>IsDefault</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <tr>
                <td colspan="8">No records available.</td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Address)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                    <td>@Html.DisplayFor(modelItem => item.Website)</td>
                    <td>
                        <div class="state icheckbox_minimal-blue @(item.IsDefault ? "checked" : "")"></div>
                    </td>
                    <td style="width:10%;">
                        <a class="btn btn-sm btn-warning" data-toggle="tooltip" data-original-title="Edit this company" href="@Html.Raw(Url.Action("edit", "company", new { id = item.Id }))"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-sm btn-danger" data-toggle="tooltip" data-original-title="Delete this company" href="#delete" onclick="return deleteCompany(@string.Format("this, \'{0}\', \'{1}\'", item.Id, item.Name))"><span class="fa fa-trash-o"></span></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div class="row">
    <div class="col-md-5 col-xs-5">
        <input type="hidden" id="TotalItemCount" value="@Model.TotalItemCount" />
        <div class="dataTables_pageInfo" style="padding-top:16px;">
            Showing @Model.PageNumber to @Model.LastItemOnPage of @Model.TotalItemCount entries
            <input id="currentPageNumber" type="hidden" value="@Model.PageNumber" />
        </div>
    </div>
    <div class="col-md-7 col-xs-7">
        <div class="dataTables_pageInfo pull-right" id="pagedListPager">
            @Html.PagedListPager(Model, page => Url.Action(ViewContext.RouteData.Values["action"].ToString(), new
       {
           page,
           pageSize = Model.PageSize,
           searchString = ViewBag.SearchString
       }),
            new PagedListRenderOptions
            {
                DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                DisplayLinkToLastPage = PagedListDisplayMode.Always,
                DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                DisplayLinkToNextPage = PagedListDisplayMode.Always,
                MaximumPageNumbersToDisplay = 5
            })
        </div>
    </div>
</div>