@{
    ViewBag.Title = "Credentials";
    ViewBag.ActiveMenu = "credentials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper" style="min-height:349px;">
    <section class="content-header">
        <h1>Credentials <small>List</small></h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <p>
                    <a class="btn btn-sm btn-info" data-toggle="modal" data-target="#SelectCredentialDialog" href="#create">Add New Credential</a>
                </p>
            </div>
            <div class="col-md-6">
                <div class="alert alert-info" id="msgStatus" style="display:none;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body no-padding">
                        <table class="table table-responsive table-hover table-striped">
                            <thead>
                                <tr>
                                    <th class="hide">Id</th>
                                    <th>Mode</th>
                                    <th>Credential Type</th>
                                    <th>Credential Name</th>
                                    <th>Company</th>
                                    <th>Is Default</th>
                                    <th>Is Enabled</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>                            
                            <!-- ko if: !marketplaceCredentials().length -->
                            <tbody>
                                <tr><td colspan="4">No data yet to display</td></tr>
                            </tbody>
                            <!-- /ko -->
                            <!-- ko if: marketplaceCredentials().length -->
                            <tbody data-bind="foreach: marketplaceCredentials">
                                <tr>
                                    <td class="hide" data-bind="text: Id"></td>
                                    <td data-bind="text: Mode"></td>
                                    <td data-bind="text: MarketplaceType"></td>
                                    <td data-bind="text: Name"></td>
                                    <td data-bind="text: CompanyName"></td>
                                    <td data-bind="text: IsDefault"></td>
                                    <td data-bind="text: IsEnabled"></td>
                                    <td>
                                        <a class="btn btn-sm btn-warning" data-toggle="modal" data-target="#CredentialDialog" href="#edit" data-bind="attr: { 'data-id' : Id, 'data-marketplace-type' : MarketplaceType, 'data-mode': Mode }" title="Edit this marketplace credential"><i class="fa fa-edit"></i> Edit</a>
                                        <a class="btn btn-sm btn-danger" data-toggle="tooltip" data-original-title="Delete this marketplace credential" href="#delete" data-bind="click: $parent.deleteCredential"><span class="fa fa-trash-o"></span> Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                            <!-- /ko -->
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@{ Html.RenderPartial("_SelectCredentialDialog"); }
@{ Html.RenderPartial("_CredentialDialog"); }
@{ Html.RenderPartial("_AmazonDialog"); }
@{ Html.RenderPartial("_eBayDialog"); }
@{ Html.RenderPartial("_ShipStationDialog"); }
@{ Html.RenderPartial("_BigCommerceDialog"); }

@section Scripts {
<link href="@Url.Content("~/content/css/iCheck/all.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/scripts/plugins/icheck/icheck.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/scripts/jquery.confirm.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/scripts/models/credential.js")" type="text/javascript"></script>

<script type="text/javascript">
    var GET_CREDENTIALS_URL = "@Html.Raw(Url.Action("_GetCredentials"))"
    var GET_CREDENTIAL_URL = "@Html.Raw(Url.Action("_GetCredential"))"
    var GET_COMPANIES_URL = "@Html.Raw(Url.Action("_GetAllCompanies", "company"))"
    var GET_MESSAGE_TEMPLATES_URL = "@Html.Raw(Url.Action("_GetMessageTemplates", "messagetemplate"))"
    var SAVE_CREDENTIAL_URL = "@Html.Raw(Url.Action("_SaveCredential"))"
    var DELETE_CREDENTIAL_URL = "@Html.Raw(Url.Action("_DeleteCredential"))"
    var viewModel = new ViewModel();

    $(document).ready(function () {
        ko.applyBindings(viewModel, document.getElementById("content_main_wrapper"));
        viewModel.loadData();

        // register some events when modal dialog is showing
        $("#CredentialDialog").on("shown.bs.modal", function (event) {
            var element = $(event.relatedTarget) // element that triggered the modal
            var modelId = element.data("id");
            var marketplaceType = element.data("marketplace-type");
            var mode = element.data("mode");

            viewModel.selectedMarketplaceType(marketplaceType);
            viewModel.loadModel(modelId);
            if(modelId != -1)
                viewModel.modalTitle(marketplaceType + ' ' + mode + " Credentials");
        })
    });

</script>
}