@model Webdiyer.WebControls.Mvc.PagedList<EIS.Inventory.Core.ViewModels.RequestReportViewModel>

<table class="table table-responsive table-hover table-striped table-altrow">
    <thead>
    <tr>
        <th>Feed Type</th>
        <th>Submitted Date</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
        <th>Submitted By</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <tr><td colspan="8">No records available.</td></tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FeedType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubmittedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProcessingStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubmittedBy)
                    </td>
                    <td style="text-align:right;">                        
                        <a class="btn btn-sm btn-info" data-toggle="modal" data-target="#ReportDialog" title="View request report detail" href="#reportdetail" data-id="@item.ReportRequestId"><i class="fa  fa-external-link"></i></a>                        
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
