@model Webdiyer.WebControls.Mvc.PagedList<EIS.Inventory.Core.ViewModels.RequestReportViewModel>

@{
    ViewBag.Title = "Request Report List";
    ViewBag.ActiveMenu = "request_report_logs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper" style="min-height:349px;">
    <section class="content-header">
        <h1>Request Report Logs <small>List</small></h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-sm-6">
                <div style="margin: 0 0 10px">
                    <a class="btn btn-sm btn-default" data-toggle="modal" data-target="#FilterDialog" title="Filter logs" href="#filter"><i class="fa fa-filter"></i> Show Filter</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="alert alert-error" id="msgStatus" style="display:none;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body no-padding">
                        <div id="loadingDiv" style="display:none" class="loading-gif"></div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-inline">
                                    <div class="dataTables_entries">
                                        @using (Html.BeginForm(ViewContext.RouteData.Values["action"].ToString(), "logs", FormMethod.Get, new RouteValueDictionary { { "pageSize", Model.PageSize }, { "id", "showEntryForm" } }))
                                        {
                                            <input type="hidden" id="logsType" name="logsType" value="1" />
                                            <label>
                                                Show
                                                <select id="pageSize" name="pageSize" class="form-control input-sm" onchange="return this.form.submit()">
                                                    <option value="10" @(Model.PageSize == 10 ? "selected" : "")>10</option>
                                                    <option value="50" @(Model.PageSize == 50 ? "selected" : "")>50</option>
                                                    <option value="75" @(Model.PageSize == 75 ? "selected" : "")>75</option>
                                                    <option value="100" @(Model.PageSize == 100 ? "selected" : "")>100</option>
                                                </select>
                                                entries
                                            </label>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">

                            </div>
                        </div>
                        <div id="logs_containter">
                            @{ Html.RenderPartial("_LoadPagedRequestReports", Model); }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div><!-- /.content-wrapper -->


<div style="display:none;" class="modal fade" id="ReportDialog" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Processing Report Details</h4>
            </div>
            <div class="modal-body" data-bind="with: processingReport">
                <div id="loadingModal" style="display:none" class="loading-gif"></div>

                <table class="table">
                    <tr>
                        <th class="col-xs-2">Message Type</th>
                        <td data-bind="text: MessageType" class="col-xs-4"></td>
                        <th class="col-xs-2">Merchant Id</th>
                        <td data-bind="text: MerchantId"></td>
                    </tr>
                    <tr>
                        <th class="col-xs-2">Status</th>
                        <td data-bind="text: StatusCode"></td>
                        <th class="col-xs-2">Submitted by</th>
                        <td data-bind="text: SubmittedBy"></td>
                    </tr>
                    <tr>
                        <th>Message</th>
                        <td colspan="3">
                            <span class="badge bg-green" data-bind="text: messageSuccess"></span>
                            <span class="badge bg-red" data-bind="text: messageError"></span>
                            <span class="badge bg-yellow" data-bind="text: messageWarning"></span>
                        </td>
                    </tr>
                </table>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#errors" aria-controls="errors" role="tab" data-toggle="tab" data-bind="click: loadReportErrors">Errors</a>
                    </li>
                    <li role="presentation">
                        <a href="#warnings" aria-controls="warnings" role="tab" data-toggle="tab" data-bind="click: loadReportWarnings">Warnings</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="errors" data-bind="with: errorResult">
                        <table class="table table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th class="col-md-2">Additional Info</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <!-- ko if: Items().length != 0 -->
                            <tbody data-bind="foreach: Items">
                                <tr>
                                    <td data-bind="text: MessageId"></td>
                                    <td data-bind="text: AdditionalInfo"></td>
                                    <td data-bind="text: Description"></td>
                                </tr>
                            </tbody>
                            <!-- /ko -->
                            <tbody data-bind="visible: Items().length == 0" style="display:none;">
                                <tr>
                                    <td colspan="3">No records available.</td>
                                </tr>
                            </tbody>
                        </table>
                        <ul class="pager">
                            <li data-bind="css: { disabled: !hasPrevPage() }"><a href="#prev" data-bind="click: $parent.prevErrorResultPage">&larr; Previous</a></li>
                            <li data-bind="text: pageShowStatus"></li>
                            <li data-bind="css: { disabled: !hasNextPage() }"><a href="#next" data-bind="click: $parent.nextErrorResultPage">Next &rarr;</a></li>
                        </ul>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="warnings" data-bind="with: warningResult">
                        <table class="table table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th class="col-md-2">Additional Info</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <!-- ko if: Items().length != 0 -->
                            <tbody data-bind="foreach: Items">
                                <tr>
                                    <td data-bind="text: MessageId"></td>
                                    <td data-bind="text: AdditionalInfo"></td>
                                    <td data-bind="text: Description"></td>
                                </tr>
                            </tbody>
                            <!-- /ko -->
                            <tbody data-bind="visible: Items().length == 0" style="display:none;">
                                <tr>
                                    <td colspan="3">No records available.</td>
                                </tr>
                            </tbody>
                        </table>
                        <ul class="pager">
                            <li data-bind="css: { disabled: !hasPrevPage() }"><a href="#prev" data-bind="click: $parent.prevWarningResultPage">&larr; Previous</a></li>
                            <li data-bind="text: pageShowStatus"></li>
                            <li data-bind="css: { disabled: !hasNextPage() }"><a href="#next" data-bind="click: $parent.nextWarningResultPage">Next &rarr;</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /#ReportDialog -->

<div style="display:none;" class="modal fade" id="FilterDialog" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Logs Filter</h4>
            </div>
            @using (Html.BeginForm("index", "logs", FormMethod.Get, new { @class = "form-horizontal", @role = "form", @id = "filterForm" }))
            {
                <div class="modal-body" id="edit-form">
                    <input type="hidden" id="pageSize" name="pageSize" value="@Model.PageSize" />
                    <div class="form-group">
                        <label class="control-label col-md-3" for="LogsType">Logs Type</label>
                        <div class="col-md-9">
                            <select id="LogsType" name="LogsType" class="form-control">
                                <option value="0">Main Logs</option>
                                <option value="1">Request Reports</option>
                                <option value="2">File Uploader Logs</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <span class="spinner"><i class="fa fa-refresh fa-spin"></i></span>
                    <button id="btnApplyFilters" type="submit" class="btn btn-primary">Apply Filter</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            }

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

@section Scripts {
    @{Html.RegisterMvcPagerScriptResource();}
    <script src="@Url.Content("~/scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/models/log.js")" type="text/javascript"></script>

    <script type="text/javascript">
        var GET_REQUEST_REPORT_URL = "@Html.Raw(Url.Action("_GetRequestProcessingReport"))"
        var GET_ERROR_RESULTS_URL = "@Html.Raw(Url.Action("_GetProcessingReportErrors"))"
        var GET_WARNING_RESULTS_URL = "@Html.Raw(Url.Action("_GetProcessingReportWarnings"))"
        var viewModel = new ViewModel();

        $(document).ready(function () {
            ko.applyBindings(viewModel, document.getElementById("content_main_wrapper"));

            // register some events when modal dialog is showing
            $(".modal").on("shown.bs.modal", function (event) {
                var element = $(event.relatedTarget) // element that triggered the modal
                var requestReportId = element.data("id");
                viewModel.loadModel(requestReportId);
            })

            $('.modal').on('hidden.bs.modal', function () {
                viewModel.processingReport(null);
            })
        });
    </script>
}