@model X.PagedList.PagedList<EIS.Inventory.Models.GroupViewModel>

<table class="table table-responsive table-hover table-striped table-altrow" id="tblGroups">
    <tr>
        <th class="col-md-3">Group Name</th>
        <th class="col-md-5">Description</th>
        <th class="col-md-2">Number Of Users</th>
        <th class="col-md-2">Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfUsers)
            </td>
            <td>
                <a class="btn btn-sm btn-warning" href="@Html.Raw(Url.Action("editgroup", new { id = item.Id }))" title="Edit this group"><i class="fa fa-edit"></i> Edit</a>
                <a class="btn btn-sm btn-danger" href="#delete" title="Delete this group" onclick="return deleteModel(this, '@item.Id', '@item.Name')"><span class="fa fa-trash-o"></span> Delete</a>
            </td>
        </tr>
    }
</table>

<div class="row">
    <div class="col-md-5 col-xs-5">
        <input type="hidden" id="TotalItemCount" value="@Model.TotalItemCount" />
        <div class="dataTables_pageInfo" style="padding-top:16px;">
            Showing @Model.PageNumber to @Model.LastItemOnPage of @Model.TotalItemCount entries
            <input id="currentPageNumber" type="hidden" value="@Model.PageNumber" />
        </div>
    </div>
    <div class="col-md-7 col-xs-7">
        <div class="dataTables_pageInfo pull-right" id="pagedListPager">
            @Html.PagedListPager(Model, page => Url.Action(ViewContext.RouteData.Values["action"].ToString(), new
       {
           page,
           pageSize = Model.PageSize,
           searchString = ViewBag.SearchString
       }),
            new PagedListRenderOptions
            {
                DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                DisplayLinkToLastPage = PagedListDisplayMode.Always,
                DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                DisplayLinkToNextPage = PagedListDisplayMode.Always,
                MaximumPageNumbersToDisplay = 5
            })
        </div>
    </div>
</div>